
/* 
celeste : "#72c5cb";
turquesa : "#48bc95",
verde : "#8cd65d",
amarillo : "#ffde5b",
naranja : "#eea547",
rosa : "#e794be",
lila : "#ca95e5" 

font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Satisfy&display=swap');

@font-face {
    font-family: "caviar-dreams";
    src: url("/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
}

@font-face {
    font-family: "beckan";
    src: url("/fonts/beckan/Beckan-Regular.otf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    font-family: 'caviar-dreams','Poppins',Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

.hidden {
    display: none
}

.page {
    background-image: url("/page-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


a {
    text-decoration: none;
}

a:hover{
    opacity: .5;
}

.titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.titles h2{
    font-size: 4rem;
    color: #a2fdff;
    letter-spacing: 2px;
}

.titles .line {
    border: 1px solid #a2fdff;
    flex-grow: 1;
    height: 0;
}


.navbarContainer {
    width: 100%;
    background-color: #fff;
}

.navbar{
    height: 120px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin: auto;
}

.navbar.mobile {
    display: none
}

.navbar a {
    color:#333;
    font-size: 1.2rem;
}

.navbar a.active {
    opacity: .5
}

.logoNavbar {
    width: 100px;
    clip-path: circle();
}

.home {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.carousel {
    width: 100%;
}

.carousel img {
    width: 100%
}

.carouselContainer {
    position: relative;
    margin-bottom: 30px;
}

.carouselTextContainer {
    width: 350px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    opacity: .6;
}

.carouselTextContainer div {
    width: 100%;
    height: 100%;
    position: relative;
}

.carouselTextContainer p {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 300;
    top: 50%;
    left: 28%;
    transform: translateY(-50%);
    margin: 0;
    text-wrap: nowrap;
    line-height: 1.5;
    letter-spacing: 1px;
}

.carouselTextContainer span{
    font-size: 6rem;
    font-family: 'beckan','Satisfy', cursive;
    font-weight: 400;
    position: absolute;
    right: -60%;
    /* transform: translateX(70%); */
    top: 50%;
    color:#fe87f8;
    transform: translateY(-48%);
    
}



.bestSellers {
    margin: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bs-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.bs-item-container .card {
    width: 350px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 10%;
    position: relative;
    border: 0;
    border-radius: 0;
}


.bs-item1,.bs-item2,.bs-item3 {
    width: 70%;
    height: 240%;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    rotate: -40deg;
    translate: -63% 2%;
    position: absolute
}

.bs-item1 img,.bs-item2 img,.bs-item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: all .2s ease-in-out;

}

.bs-item-container .card:hover img {
    opacity: 1;
}

.bs-item-container .card:hover p {
    color:rgb(207, 63, 251);
    scale: 1.25;
}

.bestSellers .bs-item2 {
    background-image: url("/home-img/alfajor-frambuesa.jpg");
}

.bestSellers .bs-item1 {
    background-image: url("/home-img/alfajor-salted-caramel.jpg");
}

.bestSellers .bs-item3 {
    background-image: url("/home-img/alfajor-chocolate.jpg");
    
}

.bestSellers p {
    width: 50%;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 10px;
    z-index: 1;
    letter-spacing: 3px;
    transition: all .4s;
    font-family: 'beckan';
    color:#d385fa
}

.markets{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.market-cards-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.market-card {
    width: 100%;
    height: 250px;
    color: #fff;
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.market-card:nth-child(even){
    flex-direction: row-reverse;
}

.market-card img {
    width: 250px;
}

.market-info {
    flex-grow: 1;
    background-color: #ca95e5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.market-info h3{
    position: absolute;
    top: auto;
    left: -13%;
    font-size: 300px;
    text-wrap: nowrap;
    color: #af48e3;
    opacity: .3;
    letter-spacing: 0px;
    z-index: -1;
}
.market-info p {
    margin: 0;
    color: white
}

.market-info .day {
    font-size: 3rem;
    color:white
}

.market-info .address {
    width: 150px;
}

.market-info a {
    font-size: 1.5rem;
    color: yellow
}

.market-info a:hover {
    opacity: .5;
}

.market-info .time {
    color: yellow;
    font-size: 1.3rem;
}

.reviews {
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}

.reviews .carousel {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background: white;
}

.reviews .carousel p{
    color: #333;
    font-size: 1.2rem;
    width: 100%;
    height: 90%;
    margin: auto;
    padding: 2% 10%;
    display: inline-block;
}

.reviews .carousel svg {
    margin: 10px 10px 10px 0;
    fill: #af48e3;
}

.reviews .carousel .line {
    width: 40%;
    border-bottom: #af48e3 1px solid;
    margin: 15px 0;
    margin-right: 60%;
}

.reviews .carousel .line:nth-last-child(1) {
    margin: 20px 0 50px 60%;
}

.aboutPage {
    margin:auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
}

.aboutPage div{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    backdrop-filter: blur(200px);
    padding-left: 100px;
    margin: 20px 0;
    border-radius: 30px;
    overflow: hidden;
}

.aboutPage :nth-child(n) {
    flex-direction: row-reverse;
}

.aboutPage img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.aboutPage p{
 width: 60%;
 font-size: 1.5rem;
 font-weight: bold;
 color: rgb(32, 32, 32)
}

.contactPage{
    width: 80%;
    margin: auto;
    
}

.contactPage section:nth-child(1){
    backdrop-filter: blur(300px);
    padding: 30px;
}

.contactIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
    padding: 50px;
}

.contactIcons a svg {
    width: 60px;
    transition: all .2s;
}

.contactIcons a svg:hover {
    fill: #af48e3;
    opacity: 1;
    scale: 1.25;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.contactPage .galery img {
    width: 33%;
    aspect-ratio: 1;
    object-fit: cover;
    flex: 1 0 23%;
}

.footer {
    width: 80%;
    height: 150px;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient(#af48e3,#ca95e5);
    position: relative;
}

.footer p {
    color: #fff;
}

.footer p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px;
}

@media (max-width: 800px) {
    .navbarContainer {
        position: relative;
    }
    .navbar.mobile {
        display: inline-block;
        display: flex;
        justify-content: space-around;
    }

    .navbar.mobile button{
        background: none;
        border: none;
        width: 50px;
    }

    .navbar.desktop {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }

    .slideIn {
        animation: slideIn .5s;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .carouselTextContainer {
        width: 200px;
        height: 50px;
    }

    .carouselTextContainer p {
        font-size: 1rem;
        position: initial;
    }

    .carouselTextContainer span {
        font-size: 2rem;
        position: initial;
    }

    .market-card img {
        width: 100px;
        object-fit: cover;
    }

    .market-card {
        gap: 10px;
        flex-direction: row;
        height: fit-content;
    }
    .market-card:nth-child(even){
        flex-direction: row-reverse;
    }
    .market-info {
        width: 100%;
        flex-direction: column;
        align-items: start;
        text-align: left;
        justify-content: space-around;
        padding: 20px 8%;
    }

    .market-info .day {
        font-size: 2rem;
    }

    .reviews .carousel p{
        font-size: .8rem;
    }

    
}